<div class="px-10">
    <h1 class="text-lg font-bold">About</h1>
    <p class="text-xs">
        Lorem ipsum dolor <span highlight>sit amet consectetur adipisicing elit. </span> Quisquam a error, 
        aliquid eligendi ad quis dolorum, quas facilis quia accusamus nostrum neque 
        repudiandae ut consequuntur vitae tempore est temporibus. Voluptatibus!
    </p>
    <p class="text-xs">Numero de clientes <app-counter [duration]="duration()" [messege]="messeges()" *ngIf="duration() > 0" /> </p>
    <div>
        <app-wave-audio audioUrl="assets/audio.mp3"/>
    </div>
</div>
    


